name: Tests
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  go-tests:
    name: Test Pre-Built Libs
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        version: [1.24]
        os:
          - macos-15-intel
          - macos-14
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.version }}
      - name: Setup workspace
        run: cp go.work.dev go.work
      - name: Test ${{ matrix.os }}
        run: |
          go test
          go test -tags=debug_bindings,duckdb_arrow

  static-lib-tests:
    name: Test Static Libs
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        version: [1.24]
        os:
          - macos-15-intel
          - macos-14
          - ubuntu-latest
          - ubuntu-24.04-arm
        # FIXME: Archive these into a single libduckdb_static.a (similar to DuckDB's bundle-library target).
        include:
          - os: "macos-15-intel"
            dir: "darwin-amd64"
            flags: "-lduckdb_static -lduckdb_generated_extension_loader -lautocomplete_extension -lcore_functions_extension -licu_extension -ljson_extension -lparquet_extension -ltpcds_extension -ltpch_extension -lduckdb_fastpforlib -lduckdb_fmt -lduckdb_fsst -lduckdb_hyperloglog -lduckdb_mbedtls -lduckdb_miniz -lduckdb_pg_query -lduckdb_re2 -lduckdb_skiplistlib -lduckdb_utf8proc -lduckdb_yyjson -lduckdb_zstd -lc++"
          - os: "macos-14"
            dir: "darwin-arm64"
            flags: "-lduckdb_static -lduckdb_generated_extension_loader -lautocomplete_extension -lcore_functions_extension -licu_extension -ljson_extension -lparquet_extension -ltpcds_extension -ltpch_extension -lduckdb_fastpforlib -lduckdb_fmt -lduckdb_fsst -lduckdb_hyperloglog -lduckdb_mbedtls -lduckdb_miniz -lduckdb_pg_query -lduckdb_re2 -lduckdb_skiplistlib -lduckdb_utf8proc -lduckdb_yyjson -lduckdb_zstd -lc++"
          - os: "ubuntu-latest"
            dir: "linux-amd64"
            flags: "-lduckdb_static -lduckdb_generated_extension_loader -lautocomplete_extension -lcore_functions_extension -licu_extension -ljson_extension -lparquet_extension -ljemalloc_extension -ltpcds_extension -ltpch_extension -lduckdb_fastpforlib -lduckdb_fmt -lduckdb_fsst -lduckdb_hyperloglog -lduckdb_mbedtls -lduckdb_miniz -lduckdb_pg_query -lduckdb_re2 -lduckdb_skiplistlib -lduckdb_utf8proc -lduckdb_yyjson -lduckdb_zstd -lstdc++ -lm -ldl"
          - os: "ubuntu-24.04-arm"
            dir: "linux-arm64"
            flags: "-lduckdb_static -lduckdb_generated_extension_loader -lautocomplete_extension -lcore_functions_extension -licu_extension -ljson_extension -lparquet_extension -ljemalloc_extension -ltpcds_extension -ltpch_extension -lduckdb_fastpforlib -lduckdb_fmt -lduckdb_fsst -lduckdb_hyperloglog -lduckdb_mbedtls -lduckdb_miniz -lduckdb_pg_query -lduckdb_re2 -lduckdb_skiplistlib -lduckdb_utf8proc -lduckdb_yyjson -lduckdb_zstd -lstdc++ -lm -ldl"
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.version }}
      - name: Test ${{ matrix.dir }}
        run: |
          CGO_ENABLED=1 CGO_LDFLAGS="${{ matrix.flags }} -L${SRCDIR}lib/${{ matrix.dir }}/" go test -tags=duckdb_use_static_lib
          CGO_ENABLED=1 CGO_LDFLAGS="${{ matrix.flags }} -L${SRCDIR}lib/${{ matrix.dir }}/" go test -tags=duckdb_use_static_lib,debug_bindings
          CGO_ENABLED=1 CGO_LDFLAGS="${{ matrix.flags }} -L${SRCDIR}lib/${{ matrix.dir }}/" go test -tags=duckdb_use_static_lib,debug_bindings,duckdb_arrow
